body{
  font-family: "Plus Jakarta Sans", sans-serif  !important;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

.container{
    flex: 1;
}

footer{
    margin-top: auto;
}

.navbar{
    height:5rem;
    background-color: white;
}

.fa-compass{
    color:#fa424d;
    font-size:2rem;
}
.nav-link{
    color:#222222 !important;
}
.f-info-links a{
    text-decoration: none;
    color:#222222;

}
.f-info-links a:hover{
    text-decoration: underline;

}
.f-info-links,.f-info-socials,.f-info-brand{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.f-info-socials i{
  margin-right: 1rem;
  font-size: 1.5rem;
 }

.f-info{
    text-align: center;
    height:8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.card{
    border: none !important;
    margin-bottom: 2rem;
    animation: fadeInUp 0.5s ease forwards;
    border-radius: 15px;
    transition: all 0.3s ease;
    overflow: hidden;
}
.card:hover {
  transform: scale(1.03);
  transition: 0.3s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top{
    border-radius: 1rem  !important;
    width:100%  !important;
    object-fit: cover !important;
      
}

.card-body{
    padding:0 !important;
}
.card-text p{
    font-weight:400px !important;
}
.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity:0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* New-Btn */
.add-btn{
    background-color: #fa424d !important;
    border:none !important;
}
.edit-btn{
    background-color: #fa424d !important;
    border:none !important;
}
/* Show page */
.show-img{
    height:30vh;
}
.btns{
    display:flex;
}
.show-card{
    padding-left:0;
    padding-right:0;
}

.btn-edit{
    background-color: #fa424d !important;
    color: #fff !important;
}

.btn-edit:hover{
    background-color: #cc0000 !important;
}

.btn-delete{
    background-color: #222222 !important;
    color: #fff !important;
    border:none;
}

.btn-delete:hover{
    background-color: #111!important;
}
.rev-card{
   border: #111;
    margin-bottom: 2rem;
}
#map {
  width: 100%;
  height: 400px;
  border: 2px solid #ddd;
  border-radius: 10px;
  margin-top: 10px;
}
